@media screen and (max-width: 600px) {
    .topnav a {
        display: none; /* Hide the links */
    }
    .topnav a.icon {
        float: right;
        display: block; /* Display the hamburger icon */
    }
    .topnav i{
        padding: 10px;
        scale:1.6;
    }
    .form-row {
        flex-direction: column;
        width: 100%;
    }
    .form-group {
        flex: 1;
    }
    .form-input{
        justify-content:left;
        padding: auto;
    }
    
}
@media screen and (min-width: 600px) {
    .topnav a.icon{
        display: none;
    }
}
.topnav{
    position: absolute;
    background-color: rgba(57, 57, 57,0.5);
    box-shadow: 0 0 0 2px  rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 1;
    width: 100%;
}
.topnav img{
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}
.topnav a{
    float:left;
    color: wheat;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    margin-left: 5px;

}
.topnav a:hover{
    background-color: rgba(190, 5, 5, 0.5);
    color: white;
    transform: scale(1.1);
    transition: 0.2s;
    border-radius: 10px;
}
.topnav i{
    float: right;
}
.rightnav{
    float: right;
    padding: 10px;
}
.rightnav button{
    padding: 10px;
}
.bannercontainer{
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:larger;
}
.banner-overlay{
    position: absolute;
    top:30%;
    border-radius: 5px;
    color: white;
    padding: 20px 20px 20px 5%;

}
.banner-overlay h1{
    padding-left: 40px;
}
.banner-overlay2 img{
    padding-top: 20px;
    padding-left: -29px;
    transform: scale(0.6);
}
.carousel img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: 0;
}
.pagecontent{
    padding-top: 20px;
    width: 60%;
    align-items: center;
    margin: auto;}
legend{
    text-decoration: underline 3px rgb(124, 0, 0);
}
/* Apply flex layout to form rows */
.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Adjust spacing between rows */
}

/* Style form groups within each row */
.form-group {
    flex: 1; /* Equal width for form groups within a row */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust spacing between label and input/select */
}

/* Additional styling for labels (optional) */
.form-group label {
    white-space: nowrap;
}
select{
    border: none;
    width: 90%;
    border-bottom: 3px solid rgb(135, 41, 41);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    cursor: pointerS;
}

.form-input{
    border: none;
    border-bottom: 3px solid rgb(135, 41, 41);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    cursor: pointerSS;

}
.submitbtn{
    padding: 12px 25px 12px 25px;
    border-radius: 5px;
    background-color: rgb(124, 0, 0);
    border: none;
    border-bottom: 3px solid black;
    color: white;
}
.pagecontent iframe {
    margin-top: 20px;
}

.card-container{
    display: flex;
    text-align: center;
}
.card{
    margin: 20px;
}

.faq-section {
    background: #fdfdfd;
    margin-bottom: 20px;
    padding: 3vh 0 0;
}
.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: rgb(124, 0, 0);
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(233, 30, 99, 0.1);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: rgb(124, 0, 0);
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

iframe{
    width: 100%;
    height: 70vh;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}
footer{
    background-color: rgb(57,57,57);
    color: white;
    padding: 20px;
}
.footer-link{
    text-decoration: none;
    color: rgb(226, 218, 248);
}
.form-control{
    margin: 10px;
}